.section-heading {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: $Caviar_Dreams-bold;
  color: $lighten-green;
  margin-top: 0;
}

h6 {
  font-size: 18px;
  margin-top: 0;
  font-weight: 600;
}

textarea {
    resize: none;
}

.btn-testimonial {
  color: #fff;
  background-color: $gray28;
  font-size: 18px;
  text-transform: uppercase;
  font-family: $Caviar_Dreams-bold;
  padding: 10px 25px;
  border-radius: 0;
}

.btn-testimonial:hover,
.btn-testimonial:focus {
  color: #fff;
  background-color: $gray28;
}


// Bootstrap
.navbar-nav>li>a {
    border-bottom: 5px solid transparent;
    text-transform: uppercase;
    font-family: $SourceSansPro-Regular;
    font-size: 19px;
    color: $gray60;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    border-bottom: 10px solid $lighten-green;
    background-color: transparent;
    color: $lighten-green;
}

.nav>li>a {
    padding-right: 5px;
    padding-left: 5px;
}

.breadcrumb {
    padding: 0;
    background-color: transparent;
    a {
        color: $lighten-green;
        font-size: 14px;
    }
}

.breadcrumb>li+li:before {
    color: $gray;
    font-family: "fontAwesome";
    content: "\f054";
    font-size: 10px;
}

.breadcrumb>li:last-child a {
    color: $gray;
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px 40px;
    border: 5px solid $beige;
}

legend {
    display: block;
    width: auto;
    padding: 0 10px;
    margin-bottom: 0;
    border-bottom: none;
}

legend:before {
  content: "\f10d";
  font-family: "fontAwesome";
  font-size: 56px;
  color: $beige;
}

.panel-group {

    a:hover, a:focus {
        text-decoration: none;
    }
    .panel-heading {
        font-size: 20px;
        border-bottom: 1px solid $gray87;
    }
}
